@model IEnumerable<IS_403_Project2.Models.Mission>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.missionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.missionPresidentsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.missionAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.climate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dominantReligion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flagSymbol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.missionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.missionPresidentsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.missionAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.climate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dominantReligion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.flagSymbol)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MissionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MissionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MissionID })
        </td>
    </tr>
}

</table>
